<div class="postdate">
  <div class="month m-<%= article.updated_at.month %>"><%= article.updated_at.month %></div>
  <div class="day d-<%= article.updated_at.day %>"><%= article.updated_at.day %></div>
  <div class="year y-<%= article.updated_at.year %>"><%= article.updated_at.year %></div>
</div>
<p class="author">by: <%= article.author.full_name %></p>
<article>
  <h2>
    <% if article.published %>
      <%= link_to_unless_current article.title, blog_engine_published_article_path(year: article.published_at.year, month: article.published_at.month, slug: article.slug) %>
    <% else %>
      <%= article.title %>
    <% end %>
  </h2>
  <hr />
  <%=raw article.content %>
  <div class="postmetadata">
    <p>Tags: <%= article.tags %></p>
    <% unless article.categories.empty? %>
      Categories: 
      <% article.categories.each do |category| %>
      <ul>
        <li><%= category.title %></li>
      </ul>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_blog_engine_article_path(:id => article.id) if author_signed_in? %>
</article>
<section id="comments">
  <% unless @comment.nil? %>
  <h3>Comments</h3>
    <% if not article.comments.empty? %>
      <% article.comments.each do |comment| %>
        <section>
          <%= comment.name %> wrote:<%= raw(comment.body) %>
        </section>
      <% end %>
    <% end %>
    <fieldset class="new-comment">
      <%= simple_form_for @comment, :url => blog_engine_article_comments_path(:article_id => article.id), :html => {:method => :post} do |f| %>
        <%= f.input :name %>
        <%= f.input :body, :as => :text %>
        <%= f.button :submit %>
      <% end %>
    </fieldset>
  <% end %>
</section>
