<p>Tags: <%= @article.tags %></p>

<h1><%= @article.title %></h1>

<article>
  <p>
    Author: <%= @article.author.full_name %><br />
    Created at: <%= @article.updated_at.to_s :long %><br />
    Published at: <%= @article.published_at.to_s :long if @article.published_at.present? %>
  </p>

  <%=raw @article.content %>
</article>


<% unless @article.categories.empty? %>
  Categories:
  <% @article.categories.each do |category| %>
  <ul>
    <li><%= category.title %></li>
  </ul>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_blog_engine_article_path(:id => @article.id) %>